.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 80px;
    background-color: #262A2B;
    border-bottom: #0081C2 5px solid;
}

.headerLogo {
    height: 100%;
}

.headerActive {
    height: 65px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.headerLinksBar{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

a.headerLink{
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 4em;
    color: white;
}
